html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* ! LOADER */
@keyframes ldio-57x5d5q6m4j-o {
	0% {
		opacity: 1;
		transform: translate(0 0);
	}
	49.99% {
		opacity: 1;
		transform: translate(18px, 0);
	}
	50% {
		opacity: 0;
		transform: translate(18px, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 0);
	}
}
@keyframes ldio-57x5d5q6m4j {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(18px, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
.ldio-57x5d5q6m4j div {
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	top: 41px;
	left: 32px;
}
.ldio-57x5d5q6m4j div:nth-child(1) {
	background: #d94854;
	animation: ldio-57x5d5q6m4j 0.9345794392523364s linear infinite;
	animation-delay: -0.4672897196261682s;
}
.ldio-57x5d5q6m4j div:nth-child(2) {
	background: #84428c;
	animation: ldio-57x5d5q6m4j 0.9345794392523364s linear infinite;
	animation-delay: 0s;
}
.ldio-57x5d5q6m4j div:nth-child(3) {
	background: #d94854;
	animation: ldio-57x5d5q6m4j-o 0.9345794392523364s linear infinite;
	animation-delay: -0.4672897196261682s;
}
.loadingio-spinner-dual-ball-mk7f3bd4cy {
	width: 100px;
	height: 100px;
	display: inline-block;
	overflow: hidden;
	background: #f1f2f3;
}
.ldio-57x5d5q6m4j {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-57x5d5q6m4j div {
	box-sizing: content-box;
}
/* generated by https://loading.io/ */
